@model Dalstock_WebApp_Mysql_identity_19_02.Models.WorkplaceDetailViewModel
@{
    ViewBag.Title = "Werfdetail";
    var printItems = false;
}
<div class="page-content" style="min-height:90.5vh">
    <div class="page-bar" style="margin:auto">
        <div class="page-title-breadcrumb">
            <div class="pull-left">

            </div>

        </div>
    </div>

    <div class="row page-content-custom">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body card-topline-aqua">


                    <div class="form-horizontal">
                        <div class="page-title sbold">
                            Werfdetails
                            <button type="button" class="btn btn-outline btn-default pull-right" data-toggle="modal" data-target="#bobbinDetailMailModal">
                                <i class="fa fa-send"></i> Verstuur mail
                            </button>
                            <button style="margin-right:5px;" class="btn btn-outline btn-info pull-right pdfdownload" onclick="location.href='@Url.Action("PrintViewToPdf", new { id = Model.Workplace.Id, printItems = printItems})'">
                                <i class="fa fa-file-pdf-o"></i> PDF
                            </button>
                            <button style="margin-right:5px;" class="btn btn-outline btn-light pull-right" onclick="location.href='@Url.Action("Index", new { id = Model.Workplace.Id })'">
                                <i class="fa fa-check"></i> Terug naar lijst
                            </button>
                            <div>
                                <div class="modal fade modal-wide" id="bobbinDetailMailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content" id="bobbinDetailSendMail">
                                            @Html.Partial("~/Views/Bobbin/_SendBobbinDetailMail.cshtml", Model.EmailViewModel)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-12">
                                <table style="width:100%;line-height:40px; font-size:15px; font-weight:500;">
                                    <tr>
                                        <td width="20%" style="font-weight:800;">@Html.DisplayNameFor(model => model.Workplace.WorkplaceId): </td>
                                        <td width="80%" style="font-size:15px; font-weight:bold;">@Html.DisplayFor(model => model.Workplace.WorkplaceId, new { htmlAttributes = new { @class = "form-control" } })</td>
                                    </tr>
                                    <tr>
                                        <td width="20%">@Html.DisplayNameFor(model => model.Workplace.Address): </td>
                                        <td width="80%">@Html.DisplayFor(model => model.Workplace.Address, new { htmlAttributes = new { @class = "form-control" } })</td>
                                    </tr>
                                    <tr>
                                        <td width="20%">@Html.DisplayNameFor(model => model.Workplace.City.Name): </td>
                                        <td width="80%">@Html.DisplayFor(model => model.Workplace.City.Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                                    </tr>
                                    <tr>
                                        <td width="20%">@Html.DisplayNameFor(model => model.Workplace.Infrastructure.Description): </td>
                                        <td width="80%">@Html.DisplayFor(model => model.Workplace.Infrastructure.Description, new { htmlAttributes = new { @class = "form-control" } })</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        @if (Model.Workplace.Debits.Count() > 0)
                        {
                            <hr />
                            <div class="page-title sbold" style="font-size:20px;">
                                Materiaalverbruik
                                <button class="btn btn-outline btn-info pull-right" onclick="location.href='@Url.Action("IndexWithWorkplaceId", "Debit", new { id = Model.Workplace.WorkplaceId })'">
                                    <i class="fa fa-edit"></i> Nieuw verbruik
                                </button>
                                @Html.CheckBoxFor(x => Model.PrintItems,new { id = "printItemsCb" })
                            </div>

                            <table class="table table-bordered table-hover order-column" style="width: 100%" id="">
                                <thead>
                                    <tr>
                                        <th> Materiaalnummer </th>
                                        <th> Materiaalnaam </th>
                                        <th> Verbruikt aantal </th>
                                        <th> Status </th>
                                        <th> Verbruikdatum </th>
                                        <th> Verwijderen </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Workplace.Debits)
                                    {
                                        <tr class="gradeX">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Item.ItemId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            @if (item.DebitState == Domain.DebitState.Approved)
                                            {
                                                <td><span><i class="fa fa-check-circle check-icon"></i> Goedgekeurd</span></td>
                                            }
                                            else
                                            {
                                                <td class="center">
                                                    <span class="label label-sm label-danger" style="font-size:14px;">In afwachting</span>
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-xs deepPink-bgcolor no-margin DeleteButton" href="@Url.Action("Delete", "Debit", new { id = item.DebitId })">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <br />
                        }

                        @if (Model.Workplace.BobbinDebits.Count > 0)
                        {
                            <hr />
                            <div class="page-title sbold" style="font-size:20px;">
                                Bobijnverbruik

                            </div>

                            <table class="table table-bordered table-hover order-column" style="width: 100%" id="">
                                <thead>
                                    <tr>
                                        <th> @Html.DisplayNameFor(modelItem => modelItem.Workplace.BobbinDebits.First().BobbinDebitId) </th>
                                        <th> @Html.DisplayNameFor(modelItem => modelItem.Workplace.BobbinDebits.First().Bobbin.CableType.Description) </th>
                                        <th> @Html.DisplayNameFor(modelItem => modelItem.Workplace.BobbinDebits.First().StartIndex) </th>
                                        <th> @Html.DisplayNameFor(modelItem => modelItem.Workplace.BobbinDebits.First().EndIndex) </th>
                                        <th> @Html.DisplayNameFor(modelItem => modelItem.Workplace.BobbinDebits.First().AmountUsed) </th>

                                        <th> Verwijderen </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Workplace.BobbinDebits)
                                    {
                                        <tr class="gradeX">
                                            <td>
                                                <a class="hyperlink-in-table" href="@Url.Action("Details","Bobbin", new { id = item.Bobbin.Id })">
                                                    <span class="sbold">@Html.DisplayFor(modelItem => item.Bobbin.BobbinId)</span>
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Bobbin.CableType.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartIndex)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EndIndex)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AmountUsed)
                                            </td>
                                            <td class="center" width="50px">
                                                <a class="btn btn-xs deepPink-bgcolor no-margin DeleteButton" href="@Url.Action("DeleteBobbinDebit", "Bobbin", new { id = item.BobbinDebitId })">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {

    @Styles.Render("~/bundles/datatable")
    @Styles.Render("~/bundles/steps")
    @Styles.Render("~/bundles/chosen")
    @Styles.Render("~/bundles/select2")
    @Styles.Render("~/bundles/sweet-alert")
}
@section Scripts {

    @Scripts.Render("~/scripts/datatable")
    @Scripts.Render("~/scripts/steps")
    @Scripts.Render("~/scripts/stepsValidate")
    @Scripts.Render("~/scripts/chosen/dropdown")
    @Scripts.Render("~/scripts/select2/sel")

    <script type="text/javascript">


        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
            $('.DeleteButton').on('click', function (e, data) {
                var link = $(this).attr('href');
                if (!data) {
                    handleDelete(e, 1, link);
                } else {
                    window.location = $(this).attr('href');
                }
            });
            $('#printItemsCb').on('change', function (e, data) {
                @printItems = this.checked;
                alert(@printItems);
            });
            
        });
        function handleDelete(e, stop, link) {
            if (stop) {
                e.preventDefault();
                swal({
                    title: "Bent u zeker?",
                    text: "Indien u dit verbruik verwijderd, kan u deze niet meer recupereren!",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Annuleer",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ja, verwijder!",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: link,
                            type: "Delete",
                            dataType: "html",
                            success: function (data) {
                                swal({ title: "Verwijderd!", text: "Het verbruik is succesvol verwijderd.", type: "success" },
                                    function () {
                                        window.location.reload(true);
                                    });
                            },
                            error: function (xhr, status, error) {
                                swal({ title: "Fout!", text: "Sorry, kon verbruik niet verwijderen.\nExtra informatie: " + error, type: "error" },
                                    function () {

                                    });
                            }
                        });
                    }
                });
            }
        };

    </script>
}
