@model IEnumerable<Domain.Workplace>
@{
    ViewBag.Title = "Werven";
}

<div class="page-content" style="min-height:90.5vh">
    <div class="page-bar" style="margin:auto">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title sbold">Lijst van werven</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Werven</li>
            </ol>
        </div>
    </div>

    <div class="row page-content-custom">
        <div class="col-md-12">
            <div class="card card-topline-aqua">

                <div class="card-body ">
                    <div class="row p-b-20 margin-top-20">
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="btn-group">
                                <button id="addRow1" class="btn btn-info btn-circle" onclick="location.href='@Url.Action("Create")'">
                                    <i class="fa fa-plus-circle"></i> Nieuwe werf
                                </button>
                            </div>
                        </div>

                    </div>
                    <table class="table table-bordered table-hover order-column" style="width: 100%" id="workplaceDatatable">
                        <thead>
                            <tr>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Id) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.WorkplaceId) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.WorkplaceId) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Address) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.Infrastructure.Description) </th>
                                <th> Acties </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX" ondblclick="GoToDetail('@Url.Action("Details", "Workplace", new { id = item.Id })')">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        <a class="hyperlink-in-table" href="@Url.Action("Details", "Workplace", new { id = item.Id })">
                                            <span class="sbold">@Html.DisplayFor(modelItem => item.WorkplaceId)</span>
                                            <br>
                                            <span class="span-table-gray">
                                                @Html.DisplayFor(modelItem => item.Address),
                                                @Html.DisplayFor(modelItem => item.City.Zipcode)  @Html.DisplayFor(modelItem => item.City.Name)
                                            </span>
                                        </a>
                                    </td>
                                    <td class="span-table-gray">
                                        @Html.DisplayFor(modelItem => item.WorkplaceId)
                                    </td>
                                    <td class="span-table-gray">
                                        @Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.City.Zipcode) @Html.DisplayFor(modelItem => item.City.Name)
                                    </td>
                                    <td class="span-table-gray">
                                        @Html.DisplayFor(modelItem => item.Infrastructure.Description)
                                    </td>
                                    <td class="valigntop center align-middle">
                                        <a class="btn btn-xs btn-primary no-margin" href="@Url.Action("Edit", "Workplace", new { id = item.Id })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-xs deepPink-bgcolor no-margin DeleteButton" href="@Url.Action("Delete", "Workplace", new { id = item.Id })">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/bundles/datatable")
    @Styles.Render("~/bundles/sweet-alert")
}
@section Scripts {
    @Scripts.Render("~/scripts/datatable")
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('.DeleteButton').on('click', function (e, data) {
                var link = $(this).attr('href');
                if (!data) {
                    handleDelete(e, 1, link);
                } else {
                    window.location = $(this).attr('href');
                }
            });
        });
    </script>
}
