<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Dalstock</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/plugins/material/material.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Css/cssfiles")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    @Styles.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/sweet-alert/alert")
    @Scripts.Render("~/bundles/slimscroll")
    @Scripts.Render("~/bundles/appLayout")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/scripts/datatable")
</head>
    @RenderBody()
