@model Dalstock_WebApp_Mysql_identity_19_02.Models.DashboardViewModel

@{
    ViewBag.Title = "Home";
}

<div class="page-content" style="min-height:90.5vh">
    <div class="page-bar" style="margin:auto">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title">Dashboard</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Index</li>
            </ol>
        </div>
    </div>
    <div class="state-overview">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
                @if (Model.LatestBobbin != null)
                {
                    <a style="color:white" href="@Url.Action("Details", "Bobbin", new { id = Model.LatestBobbin.Id })">
                        <div class="info-box bg-b-orange">
                            <span class="info-box-icon push-bottom"><i class="material-icons">shopping_cart</i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Laatste bobijn</span>
                                <span class="info-box-number">nr: @Model.LatestBobbin.BobbinId</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: @Model.CablePerc%"></div>
                                </div>
                                <span class="progress-description">
                                    Nog @Model.LatestBobbin.AmountRemains m resterend
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </a>
                }
                else
                {
                        <div class="info-box bg-b-orange">
                            <span class="info-box-icon push-bottom"><i class="material-icons">shopping_cart</i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Laatste bobijn</span>
                                <span class="info-box-number">Geen bobijnen</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width:100%"></div>
                                </div>
                                <span class="progress-description">
                                    /
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                }
                
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                @if (Model.LatestWorkplace != null)
                {
                    <a style="color:white" href="@Url.Action("Details", "Workplace", new { id = Model.LatestWorkplace.Id })">
                        <div class="info-box bg-b-purple">
                            <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Laatste werf</span>
                                <span class="info-box-number">@Model.LatestWorkplace.WorkplaceId</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                                <span class="progress-description">
                                    @Model.LatestWorkplace.Address, @Model.LatestWorkplace.City.Name
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                }
                else
                {
                        <div class="info-box bg-b-purple">
                            <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Laatste werf</span>
                                <span class="info-box-number">Geen werven</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                                <span class="progress-description">
                                    /
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                }

            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="info-box bg-b-cyan">
                    <span class="info-box-icon push-bottom"><i class="material-icons">redeem</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Aantal materialen</span>
                        <span class="info-box-number">@Model.TotalAmountStock</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            /
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="info-box bg-b-black">
                    <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Aantal werven</span>
                        <span class="info-box-number">@Model.TotalAmountStock</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            /
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- end widget -->

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Onvoldoende materialen</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table class="table display product-overview mb-30" id="support_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Materiaalnummer</th>
                                        <th>Aantal</th>
                                        <th>Grafiek</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InsufficientItems)
                                    {
                                        <tr class="gradeX">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                <a class="hyperlink-in-table" href="@Url.Action("Edit", "Item", new { id = item.Id })">
                                                    <span class="sbold">@Html.DisplayFor(modelItem => item.ItemId)</span>
                                                    <br>
                                                    <span class="span-table-gray">
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </span>
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td>
                                                @if (item.Amount < 10)
                                                {
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="20" style="width:@item.Amount%;"></div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="20" style="width:@item.Amount%;"></div>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
