@model IEnumerable<Domain.Bobbin>

<div class="page-content" style="min-height:90.5vh">
    <div class="page-bar" style="margin:auto">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title sbold">Lijst van bobbijnen</div>
            </div>
        </div>
    </div>

    <div class="row page-content-custom">
        <div class="col-md-12">
            <div class="card card-topline-aqua">

                <div class="card-body ">
                    <div class="row p-b-20 margin-top-20">
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="btn-group">
                                <button id="addRow1" class="btn btn-info btn-circle" onclick="location.href='@Url.Action("Create")'">
                                    <i class="fa fa-plus-circle"></i> Nieuwe bobijn
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="btn-group pull-right">
                                <button class="btn btn-danger btn-circle dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-print"></i>Print
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover order-column" style="width: 100%" id="example4">
                        <thead>
                            <tr>
                                <th> Bobijnnummer </th>
                                <th> Kabeltype </th>
                                <th> Afhaaldatum </th>
                                <th> Afhaalplaats </th>
                                <th> Geretourneerd </th>
                                <th> Acties </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BobbinId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CableType.Description)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FetchDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FetchLocation)
                                    </td>
                                    @if (item.IsReturned)
                                    {
                                        <td>
                                            <span class="label label-sm label-success">Ja</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="label label-sm label-warning">Neen</span>
                                        </td>
                                    }

                                    <td class="center">
                                        <a href="javascript:void(0)" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" class="" data-toggle="tooltip" title="Details"><i class="fa fa-check"></i></a>
                                        <a style="margin-left:8px;" href="@Url.Action("Delete", "Bobbin", new { id = item.Id })" class="text-inverse DeleteButton" title="Delete" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/bundles/datatable")
    @Styles.Render("~/bundles/sweet-alert")
}
@section Scripts {
    @Scripts.Render("~/scripts/datatable")

    <script>
        $(document).ready(function () {
            $('.DeleteButton').on('click', function (e, data) {
                var link = $(this).attr('href');
                if (!data) {
                    handleDelete(e, 1, link);
                } else {
                    window.location = $(this).attr('href');
                }
            });

        });
        function handleDelete(e, stop, link) {
            if (stop) {
                e.preventDefault();
                swal({
                    title: "Bent u zeker?",
                    text: "Indien u deze bobijn verwijderd, kan u deze niet meer recupereren!",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText : "Annuleer",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ja, verwijder!",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: link,
                            type: "Delete",
                            dataType: "html",
                            success: function (data) {
                                swal({ title: "Verwijderd!", text: "De bobijn is succesvol verwijderd.", type: "success" },
                                    function () {
                                        window.location.reload(true);
                                    });
                            },
                            error: function (xhr, status, error) {
                                swal({ title: "Fout!", text: "Sorry, kon bobijn niet verwijderen.\nExtra informatie: " + error, type: "error" },
                                    function () {

                                    });
                            }
                        });
                    }
                });
            }
        };
    </script>
}


