@model IEnumerable<Domain.Bobbin>
@{
    ViewBag.Title = "Bobijnen";
}
<div class="page-content" style="min-height:90.5vh">
    <div class="page-bar" style="margin:auto">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title sbold">Lijst van bobbijnen</div>
            </div>
        </div>
    </div>

    <div class="row page-content-custom">
        <div class="col-md-12">
            <div class="card card-topline-aqua">

                <div class="card-body">
                    <div class="row margin-top-20 m-0 m-b-10" >
                        <div class="col-6 ">
                            <div class="btn-group">
                                <button id="addRow1" class="btn btn-info btn-circle" onclick="location.href='@Url.Action("Create")'">
                                    <i class="fa fa-plus-circle"></i> Nieuwe bobijn
                                </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="btn-group pull-right">
                                <button class="btn btn-danger btn-circle dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-upload"></i>Export
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="pdf-container">
                                    </li>
                                    <li class="excel-container">
                                    </li>
                                    <li class="print-container">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-10 m-0">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pull-right">
                            <div id="infra"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pull-right">
                            <div id="retour"></div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover order-column" style="width: 100%" id="bobbinDatatables">
                        <thead>
                            <tr>

                                <th> @Html.DisplayNameFor(modelItem => modelItem.Id) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.BobbinId) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.FetchDate) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.InfrastructureId) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.IsReturned) </th>
                                <th> @Html.DisplayNameFor(modelItem => modelItem.ReturnDate) </th>
                                <th> Acties </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        <a class="hyperlink-in-table" href="@Url.Action("Details", new { id = item.Id })">
                                            <span class="sbold">@Html.DisplayFor(modelItem => item.BobbinId)</span>
                                            <br>
                                            <span class="span-table-gray">
                                                @Html.DisplayFor(modelItem => item.CableType.Description)
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FetchDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Infrastructure.Description)
                                    </td>
                                    @if (item.IsReturned)
                                    {
                                        <td>
                                            <span><i class="fa fa-check-circle check-icon"></i> Geretourneerd</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span><i class="fa fa-exclamation-circle warning-icon"></i> Niet geretourneerd</span>
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReturnDate)
                                    </td>
                                    <td class="valigntop center align-middle">
                                        <a class="btn btn-xs btn-primary no-margin" href="@Url.Action("Edit", new { id = item.Id })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-xs deepPink-bgcolor no-margin DeleteButton" href="@Url.Action("Delete", new { id = item.Id })">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/bundles/datatable")
    @Styles.Render("~/bundles/sweet-alert")
    @Styles.Render("~/bundles/chosen")
    @Styles.Render("~/bundles/select2")
}
@section Scripts {
    @Scripts.Render("~/scripts/datatable")
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js" type="text/javascript"></script>
    @Scripts.Render("~/scripts/chosen/dropdown")
    @Scripts.Render("~/scripts/select2/sel")



    <script>
        $(document).ready(function () {
            $('.DeleteButton').on('click', function (e, data) {
                var link = $(this).attr('href');
                if (!data) {
                    handleDelete(e, 1, link);
                } else {
                    window.location = $(this).attr('href');
                }
            });
            $('#bobbinDatatables').DataTable({
                "bStateSave": true,
                "scrollX": true,
                "dom": 'B<"top"f>rt<"bottom"lp><"clear">',
                language: {
                    search: "Zoeken"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                ],
                responsive: true,
                initComplete: function () {
                    this.api().columns([3,4]).every(function () {
                        var column = this;
                        if (column[0] == 3) {
                            var select = $('<select id="infraChosen" class="chosen-select form-control border-test"><option value=""></option></select>')
                                .appendTo($('#infra').empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                var val = $.fn.dataTable.util.escapeRegex(d);
                                if (column.search() === "^" + val + "$") {
                                    select.append(
                                        '<option value="' + d + '" selected="selected">' + d + "</option>"
                                    );
                                } else {
                                    select.append('<option value="' + d + '">' + d + "</option>");
                                }
                            });
                        }
                        if (column[0] == 4) {
                            var select = $('<select id="retourChosen" class="chosen-select form-control border-test"><option value=""></option></select>')
                                .appendTo($('#retour').empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                var val2 = $('<div/>').html(d).text();
                                var val = $.fn.dataTable.util.escapeRegex(val2);
                                if (column.search() === "^" + val2 + "$") {
                                    select.append(
                                        '<option value="' + val2 + '" selected="selected">' + val2 + "</option>"
                                    );
                                } else {
                                    select.append('<option value="' + val2 + '">' + val2 + "</option>");
                                }
                            });
                        }
                    });
                },
                buttons: [
                    {
                        text: '<i class="fa fa-print"></i><span>Print</span>',
                        extend: 'print',
                        title: "Lijst werven - " + (new Date).toLocaleDateString(),
                        exportOptions: {
                            columns: [1, 2, 3, 4]
                        },
                        className: 'buttonAsLink  assets-export-btn export-csv ttip printbtn',
                    }, {
                        text: '<i class="fa fa-file-excel-o"></i><span>Excel</span>',
                        extend: 'excelHtml5',
                        className: 'buttonAsLink assets-export-btn export-xls ttip excelbtn',
                        title: "Lijst bobijnen - " + (new Date).toLocaleDateString(),
                        exportOptions: {
                            columns: [1, 2, 3, 4]
                        },
                        extension: '.xls'

                    }, {
                        text: '<i class="fa fa-file-pdf-o"></i><span>Pdf</span>',
                        extend: 'pdf',
                        exportOptions: {
                            columns: [1, 2, 3, 4]
                        },
                        className: 'buttonAsLink assets-export-btn export-pdf ttip pdfbtn',
                        extension: '.pdf',
                        title: "Lijst bobijnen - " + (new Date).toLocaleDateString(),
                        customize: function (doc) {
                            doc.styles.title = {
                                color: 'black',
                                fontSize: '14',
                                alignment: 'center'
                            }
                        }
                    },

                ]
            });
            $('.pdfbtn').appendTo('.pdf-container');
            $('.printbtn').appendTo('.print-container');
            $('.excelbtn').appendTo('.excel-container');
            $('#infraChosen').chosen({ placeholder_text_single: "Filter op infragebied", width: "100%", allow_single_deselect: true  });
            $('#retourChosen').chosen({ placeholder_text_single: "Filter op retour", width: "100%", allow_single_deselect: true  });
            });
            function handleDelete(e, stop, link) {
                if (stop) {
                    e.preventDefault();
                    swal({
                        title: "Bent u zeker?",
                        text: "Indien u deze bobijn verwijderd, kan u deze niet meer recupereren!",
                        type: "warning",
                        showCancelButton: true,
                        cancelButtonText: "Annuleer",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Ja, verwijder!",
                        closeOnConfirm: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: link,
                                type: "Delete",
                                dataType: "html",
                                success: function (data) {
                                    swal({ title: "Verwijderd!", text: "De bobijn is succesvol verwijderd.", type: "success" },
                                        function () {
                                            window.location.reload(true);
                                        });
                                },
                                error: function (xhr, status, error) {
                                    swal({ title: "Fout!", text: "Sorry, kon bobijn niet verwijderen.\nExtra informatie: " + error, type: "error" },
                                        function () {

                                        });
                                }
                            });
                        }
                    });
                }
            };
    </script>
}


