<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dalstock</title>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/plugins/material/material.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        /*!
            // 3. Loader
            // --------------------------------------------------*/
        .loader {
            top: 0;
            left: 0;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: Black;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .strip-holder {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -50px;
            position: relative;
        }

        .strip-1,
        .strip-2,
        .strip-3 {
            width: 20px;
            height: 20px;
            background: #0072bc;
            position: relative;
            -webkit-animation: stripMove 2s ease infinite alternate;
            animation: stripMove 2s ease infinite alternate;
            -moz-animation: stripMove 2s ease infinite alternate;
        }

        .strip-2 {
            -webkit-animation-duration: 2.1s;
            animation-duration: 2.1s;
            background-color: #23a8ff;
        }

        .strip-3 {
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            background-color: #89d1ff;
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }
    </style>

</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <div class="strip-1"></div>
            <div class="strip-2"></div>
            <div class="strip-3"></div>
        </div>
    </div>
    <div class="page-wrapper">
        @Html.Partial("_TopNavbarPartial")
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            @Html.Partial("_SidebarPartial")
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                @RenderBody()
            </div>
            <!-- end page content -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2018 &copy; Dalstock - made with love by
                <a href="http://brightware.be" target="_top" class="makerCss">Brightware</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- end footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    @Scripts.Render("~/scripts/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/sweet-alert")
    @Scripts.Render("~/bundles/slimscroll")
    @Scripts.Render("~/bundles/appLayout")
    @Scripts.Render("~/bundles/custom")

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $('#AjaxLoader').show();
        });
</script>
