<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Dalstock</title>
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Content/plugins/material/material.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Css/cssFiles")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper">
        @Html.Partial("_TopNavbarPartial")
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            @Html.Action("GetSidePartialView", "Home")
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                @RenderBody()
            </div>
            <!-- end page content -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2018 &copy; Dalstock - made with love by
                <a href="http://brightware.be" target="_top" class="makerCss">Brightware</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- end footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    @Scripts.Render("~/scripts/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/sweet-alert/alert")
    @Scripts.Render("~/bundles/slimscroll")
    @Scripts.Render("~/bundles/appLayout")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/scripts/blockui")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    //submit search, display loading message
    $('input[type = submit]').click(function () {
        $.blockUI({
            message: $('#domMessage')
        });
    });
    $('a').click(function () {
        if ($(this).attr("href") != "#" && $(this).attr("href") != "javascript:;") {
            $.blockUI({
                message: $('#domMessage')
            });
        }
        
    });
    $('.pdfdownload').click(function () {
            $.blockUI({
                message: $('#domMessage'),
                timeout: 4000,
            });
    });
</script>
<div id="domMessage" style="display:none; height:50px;" >
    <h3 style="margin-top:5%" ><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Even geduld</h3>
</div> 