@using Microsoft.AspNet.Identity
@model IEnumerable<Domain.Infrastructure>
@if (Request.IsAuthenticated)
{
    <div class="sidebar-container">
        <div class="sidemenu-container navbar-collapse collapse fixed-menu">
            <div id="remove-scroll">
                <ul class="sidemenu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                    <li class="sidebar-toggler-wrapper hide">
                        <div class="sidebar-toggler">
                            <span></span>
                        </div>
                    </li>
                    <li class="sidebar-user-panel">
                        <div class="">
                            <div class="image center">
                                <img src="~/Content/img/dalcom-logo.png" class="img-circle user-img-circle" alt="User Image" style="height:100px;width:100px;" />
                            </div>
                        </div>
                        <div class="user-panel">
                            <div class="pull-left info">
                                <a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline"> Online</span></a>
                                <p> @User.Identity.Name</p>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")" class="nav-link nav-toggle">
                            <i class="material-icons">home</i>
                            <span class="title">Home</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link nav-toggle">
                            <i class="material-icons">location_on</i>
                            <span class="title">Werf</span>
                            <span class="arrow"></span>

                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Workplace")" class="nav-link ">
                                    <span class="title">Mijn werven</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Create", "Workplace")" class="nav-link ">
                                    <span class="title">Nieuwe werf</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-toggle">
                            <i class="material-icons">assignment</i>
                            <span class="title">Materiaal</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Debit")" class="nav-link nav-toggle">
                                    <i class="material-icons">remove_circle</i>
                                    <span class="title">Verbruik</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Deposit")" class="nav-link nav-toggle">
                                    <i class="material-icons">add_circle</i>
                                    <span class="title">Toevoegen</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Item")" class="nav-link ">
                                    <span class="title">Mijn materialen</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Create", "Item")" class="nav-link ">
                                    <span class="title">Nieuw materiaal</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-toggle">
                            <i class="material-icons">arrow_drop_down_circle</i>
                            <span class="title">Bobijnen</span>
                            <span class="arrow"></span>

                        </a>
                        <ul class="sub-menu">                            
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Bobbin")" class="nav-link ">
                                    <span class="title">Mijn bobijnen</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Create", "Bobbin")" class="nav-link ">
                                    <span class="title">Nieuwe bobijn</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "ItemHistory")" class="nav-link nav-toggle">
                            <i class="material-icons">history</i>
                            <span class="title">Geschiedenis</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
